@use "@scss/base/container-queries" as *;

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	padding: 12px 0;
	background-color: var(--dark);
	container: header / inline-size;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 24px;

		& > .social-block {
			display: none;
			@include container-up("header", 1240px) {
				display: flex;
			}
		}

		& > .contacts-block {
			display: none;
			align-items: center;
			gap: 31px;

			a {
				display: flex;
				font-size: 14px;
				position: relative;
				color: var(--white);

				&:not(:last-child)::after {
					content: "";
					position: absolute;
					right: -16px;
					width: 1px;
					height: 100%;
					background-color: rgba(245, 245, 245, 0.5);
				}
			}

			@include container-up("header", 1240px) {
				display: flex;
			}
		}
	}

	.burger-btn {
		&--opener {
			@include container-up("header", 1240px) {
				display: none;
			}
		}
	}
}
