@use "@scss/base/container-queries" as *;

main {
	margin-top: var(--header-height);
}
.section {
	container: section / inline-size;
	position: relative;
	padding: clamp(20px, 6vw, 60px) 0;

	&:has(.section-inner-header) {
		padding-top: 0;
	}

	&-header {
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin-bottom: clamp(30px, 3.2vw, 50px);

		& > .grid {
			display: grid;
			grid-template-columns: 1fr;
			gap: 28px;

			@include container-up("section", 768px) {
				grid-template-columns: repeat(2, 1fr);
			}

			&-item {
				*:first-child {
					margin-top: 0;
				}

				*:last-child {
					margin-bottom: 0;
				}

				&:last-child {
					p {
						max-width: 490px;
					}
				}
			}
		}

		.title {
			line-height: 1.1;
		}

		* {
			margin: 0;
		}
	}

	&-inner-header {
		margin-bottom: clamp(24px, 3.6vw, 60px);
		background-image: url(@img/inner-section-bg.png);

		.grid {
			display: flex;
			flex-direction: column;

			gap: 30px;

			outline: 1px solid red;
			min-height: 420px;

			* {
				margin: 0;
				line-height: 1.1;
			}
		}

		&.--align-center {
			.grid {
				align-items: center;
				justify-content: center;
			}

			.section-inner-header__description {
				text-align: center;
			}
		}

		&__title {
			font-family: var(--secondary-font);
			font-size: clamp(24px, 4vw, 60px);
			font-weight: 700;
			line-height: 1.15;
			text-transform: uppercase;
			color: var(--white);
		}

		&__description {
			font-size: 18px;
			color: var(--white);
			width: 80svw;
			max-width: 720px;
		}
	}
}
