@use "@scss/base/container-queries" as *;

.section {
	container: section / inline-size;
	position: relative;
	overflow-x: hidden;
	overflow-x: clip;
	padding: clamp(20px, 6vw, 60px) 0;
	z-index: 11;
	// background-color: var(--dark);

	&-header {
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin-bottom: clamp(30px, 6vw, 160px);

		& > .grid {
			display: grid;
			grid-template-columns: 1fr;
			gap: 28px;

			@include container-up("section", 768px) {
				grid-template-columns: repeat(2, 1fr);
			}

			&-item {
				*:first-child {
					margin-top: 0;
				}

				*:last-child {
					margin-bottom: 0;
				}

				&:last-child {
					p {
						max-width: 490px;
					}
				}
			}
		}

		.title {
			line-height: 1.1;
		}

		* {
			margin: 0;
		}

		&:has(.swiper-navigation) {
			.swiper-navigation {
				display: none;
			}
			@include container-up("section", 640px) {
				position: relative;
				padding-right: 300px;

				.swiper-navigation {
					display: flex;
					gap: 40px;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 0;
				}
			}

			&:has(.swiper-button-lock) .swiper-navigation {
				display: none;
			}
		}
	}

	&-inner-header {
		position: relative;
		overflow: hidden;
		padding-top: var(--header-height);
		margin-bottom: clamp(24px, 3.6vw, 60px);

		background:
			linear-gradient(180deg, #03010e 8.78%, rgba(3, 1, 14, 0) 62.41%),
			linear-gradient(360deg, #03010e 0%, rgba(3, 1, 14, 0) 66.51%),
			url(@img/inner-section-bg.png), #d9d9d9;

		video {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: bottom;
			pointer-events: none;
			z-index: 0;
		}

		video::-webkit-media-controls,
		video::-webkit-media-controls-panel,
		video::-webkit-media-controls-overlay-play-button,
		video::-webkit-media-controls-start-playback-button {
			display: none !important;
			-webkit-appearance: none;
			opacity: 0;
			pointer-events: none;
		}

		&__wrapper {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 30px;
			min-height: 330px;
			z-index: 1;

			&:has(.circle-badge) {
				.circle-badge {
					display: none;
				}
			}
			@include container-up("section", 1024px) {
				&:has(.circle-badge) {
					padding-right: 400px;
					position: relative;

					.section-inner-header__description {
						max-width: 100%;
					}

					.circle-badge {
						display: flex;
						position: absolute;
						top: 50%;
						right: 60px;
						transform: translateY(-50%);
					}
				}
			}

			* {
				margin: 0;
				line-height: 1.1;
			}
		}

		&.--align-center &__wrapper {
			align-items: center;
			text-align: center;

			.section-inner-header__title,
			* {
				text-align: center;
			}
		}

		&__title {
			font-family: var(--secondary-font);
			font-size: clamp(24px, 6vw, 72px);
			font-weight: 700;
			line-height: 1.15;
			text-transform: uppercase;
			color: var(--white);
		}

		&__description {
			font-size: clamp(18px, 3.2svw, 24px);
			color: var(--white);
			width: 80svw;
			max-width: 840px;
		}
	}
}

.circle-badge {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: fit-content;
	min-width: 280px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background-color: rgba(83, 44, 249, 0.1);
	border: 1px solid #532cf9;

	strong {
		font-size: clamp(44px, 8vw, 66px);
		font-weight: 600;
		color: var(--white);
	}

	text {
		font-size: 20px;
		color: var(--white);
	}
}
