@use "@scss/base/container-queries" as *;

.text-split-section {
	display: flex;
	flex-direction: column;
	gap: 30px;

	z-index: 9;

	.container {
		display: flex;
		z-index: 11;
		margin: auto;

		@include container-up("section", 960px) {
			height: 100svh;
		}
	}

	&__content {
		width: 100%;
		max-width: 920px;
		margin: auto 0;

		font-size: clamp(16px, 2.2vw, 22px);
	}

	&__img {
		order: 2;

		@include container-up("section", 960px) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				content: "";

				background:
					linear-gradient(180deg, #03010e 8.78%, rgba(3, 1, 14, 0) 62.41%),
					linear-gradient(360deg, #03010e 0%, rgba(3, 1, 14, 0) 66.51%);
				z-index: 6;
			}
		}

		img {
			width: 100%;
			max-width: 1440px;
			height: auto;
			object-fit: contain;
			object-position: right;

			@include container-up("section", 960px) {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
			}
		}
	}
}
