.burger-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;

	padding: 4px;
	border: none;
	border-radius: 50%;
	background-color: var(--white);
	aspect-ratio: 1/1;
	cursor: pointer;

	svg {
		fill: var(--dark);
	}

	&--opener {
		svg {
			width: 24px;
			height: auto;
		}
	}

	&--closer {
		svg {
			width: 18px;
			height: auto;
		}
	}
}
