.sticky-img {
	object-fit: contain;
	width: 100%;
	height: auto;
	will-change: auto;
	z-index: -1;

	&--left {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -280px;
		object-fit: contain;
		width: 100%;
		height: auto;
		max-width: 840px;
	}

	&--right {
		position: absolute;
		top: 0;
		transform: translateY(-50%);
		right: -180px;
		max-width: 840px;
	}
}
