.container {
	position: relative;
	z-index: 3;
}

.sticky-img {
	--sticky-img-y: 0px;

	object-fit: contain;
	width: 100%;
	height: auto;
	will-change: auto;

	&--left {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -280px;
		object-fit: contain;
		width: 100%;
		height: auto;
		max-width: 840px;
		transform: translate3d(0, calc(-50% + var(--sticky-img-y)), 0);
	}

	&--right {
		position: absolute;
		top: 0;
		right: -180px;
		max-width: 840px;
		transform: translate3d(0, calc(-50% + var(--sticky-img-y)), 0);
	}
}
