@use "@scss/base/container-queries" as *;

.portfolio-list {
	.sort-row {
		display: flex;
		align-items: center;
		gap: 24px;
		padding: 12px 0;
		margin-bottom: 30px;
	}

	&__gallery {
		display: grid;
		grid-template-columns: 1fr;
		gap: clamp(18px, 2.5vw, 40px);

		@include container-up("section", 768px) {
			display: block;
			position: relative;
			min-height: 60vh;
		}

		&-item {
			display: block;

			@include container-up("section", 768px) {
				margin-bottom: 24px;
				transition:
					left 0.25s ease,
					top 0.25s ease;
			}

			&-wrapper {
				display: block;
				overflow: hidden;
				will-change: transform, opacity, clip-path;

				img {
					display: block;
					width: 100%;
					max-width: 100%;
					height: auto;
					will-change: transform;
				}
			}
		}
	}
}
