a[download] {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 32px;
	font-size: 24px;
	font-weight: 600;
	text-align: left;
	width: 100%;
	border-radius: 25px;
	padding: 36px 24px;

	padding-right: 98px;
	border: none;

	background-color: var(--primary);
	color: var(--white);

	text-wrap: balance;

	&::after {
		position: absolute;
		top: 50%;
		right: 24px;
		transform: translateY(-50%);

		display: flex;
		align-items: center;
		justify-content: center;

		width: 50px;
		height: 50px;
		content: "";
		aspect-ratio: 1/1;
		border-radius: 50%;
		background-color: var(--white);

		background-image: url("/local/templates/littleweb/_dist/images/arrow.svg");
		background-size: 16px;
		background-position: center;
		background-repeat: no-repeat;

		transition: transform var(--main-transition);
	}

	@media (hover: hover) {
		&:hover::after,
		&:focus::after {
			transform: translateY(-50%) rotate(45deg);
		}
	}
}
