@use "@scss/base/container-queries" as *;
.menu {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100dvw;
	height: 100dvh;

	@include container-up("header", 1240px) {
		position: revert;
		top: revert;
		left: revert;
		background-color: revert;
		width: revert;
		height: revert;
		z-index: revert;
	}

	&__wrapper {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 440px;
		height: 100%;
		padding: 30px;
		background-color: var(--primary);
		z-index: 1001;

		@include container-up("header", 1240px) {
			position: revert;
			top: revert;
			right: revert;
			display: revert;
			flex-direction: revert;
			width: 100%;
			max-width: revert;
			height: fit-content;
			padding: 6px 12px;
			background-color: revert;
		}
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 32px;

		@include container-up("header", 1240px) {
			display: none;
		}
	}

	.top-menu {
		display: flex;
		flex-direction: column;
		gap: 16px;

		list-style: none;
		margin: 0;
		padding: 30px 0;

		@include container-up("header", 1240px) {
			flex-direction: row;
		}

		li {
			a {
				display: flex;
				font-weight: 600;
				width: fit-content;
				color: var(--white);
			}
		}
	}

	.contacts-block {
		display: flex;
		flex-direction: column;
		gap: 8px;

		a {
			font-size: 16px;
			font-weight: 600;
			color: var(--white);
		}

		@include container-up("header", 1240px) {
			display: none;
		}
	}

	.social-block {
		margin-top: auto;
		@include container-up("header", 1240px) {
			display: none;
		}
	}
}
