.title {
	font-family: var(--secondary-font);
	font-size: clamp(28px, 3.2vw, 44px);
	font-weight: 600;
	color: var(--white);
}

.subtitle,
h2 {
	font-size: clamp(20px, 2.4vw, 24px);
	font-weight: 600;
	color: var(--white);
}

ul {
	margin: 0;
	margin-bottom: 24px;
}
